.footer {
    background-color: #211e3b;
}
.container-logo {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.logo {
    height: 110px !important;
    width: auto !important;
}
.footer-item {
    text-align: center;

    color: white;
}
.footer-head {
    padding-left: 35px;
    padding-right: 35px;
}
.brief-info {
    color: #aeaacb !important;
    margin-top: 20px;
}
.footer-end {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
